# --- DOCKER REGISTRY CONFIG ---
REGISTRY_HOST = ghcr.io
REGISTRY_USERNAME = batmaxou
REGISTRY_PROJECT = garoloup
REGISTRY_REPOSITORY_PREFIX = $(REGISTRY_HOST)/${REGISTRY_USERNAME}/$(REGISTRY_PROJECT)
REGISTRY_TOKEN = token_genrerated_by_registry

# --- DOCKER CONTEXT CONFIG ---
DOCKER_CONTEXT = garoloup-prod
LOCAL_DOCKER_CONTEXT = default # or desktop-linux
SERVER_USER = user
SERVER_HOST = 192.168.1.1
SERVER_APP_PATH = /var/www/garoloup
