###> symfony ###
/api/.env.local
/api/.env.local.php
/api/.env.*.local
/api/config/secrets/prod/prod.decrypt.private.php
/api/public/bundles/
/api/private/
/api/public/uploads/
/api/fixtures/assets/copy/
/api/var/
/api/vendor/
/api/config/jwt/*.pem
/api/phpunit.xml
/api/.phpunit.cache/
###< symfony ###

###> next ###
/front/.next
/front/.pnpm-store
/front/node_modules
/front/logs
/front/.env.local
/front/tsconfig.tsbuildinfo
###< next ###

###> docker ###
/compose.override.yaml
/compose.override.prod.yaml
###< docker ###

###> prod-context ###
/.env.local
###< prod-context ###

###> Extra ###
/.DS_Store/
/.vscode/
/.php-cs-fixer.cache
/coverage.xml
###< Extra ###


###> Mockups ###
/.claude/*
###< Mockups ###

###> Local tests ###
/front/src/orchestrator-example/*
###< Local tests ###