@import url('https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');

@layer theme, base, components, utilities;

@import 'tailwindcss';

@theme {
  --color-neutral-100: #ffffff;
  --color-neutral-200: #f2f2ff;
  --color-neutral-300: #e3e4f5;
  --color-neutral-400: #c8c9e0;
  --color-neutral-500: #9ea0b8;
  --color-neutral-600: #505461;
  --color-neutral-700: #3e415a;
  --color-neutral-800: #2b2e44;
  --color-neutral-900: #1a1c2e;

  --color-foreground: var(--color-neutral-200);
  --color-background: var(--theme-background-gradient-start);
  --color-background-contrast: var(--theme-background-gradient-end);

  --color-light: var(--color-neutral-100);
  --color-dark: var(--color-neutral-900);

  --color-primary: #9f9ad6;
  --color-primary-pastel: #c8c5ed;

  --color-secondary: #4f4c70;
  --color-secondary-pastel: #9e9bbf;

  --color-accent: #eca72c;
  --color-accent-pastel: #f5e6a6;

  --color-success: #32ba55;
  --color-success-pastel: #c9f3d3;

  --color-error: #d33e36;
  --color-error-pastel: #fff3f3;

  --breakpoint-xs: 24rem; /* 384px*/
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 87rem; /* 1392px */
  --breakpoint-3xl: 100rem; /* 1600px */

  --container-xs: 24rem;
  --container-sm: 40rem;
  --container-md: 48rem;
  --container-lg: 64rem;
  --container-xl: 80rem;
  --container-2xl: 87rem;
  --container-3xl: 96rem;

  --radius-lg: 100px;
  --radius-md: 32px;
  --radius-sm: 16px;
  --radius-xs: 8px;
  --radius-xxs: 6px;

  --background-gradient: 180deg, var(--theme-background-gradient-start) 0%, var(--theme-background-gradient-end) 100%;
  --primary-gradient: 90deg, var(--color-secondary) 0%, var(--color-primary) 100%;

  --shadow:
    0 20px 60px oklch(from var(--color-dark) l c h / 0.6), 0 0 100px oklch(from var(--color-secondary) l c h / 0.04);

  --button-inset-shadow: 0px 0px 4px 0px;

  --default-transition-duration: 0.2s;
  --default-transition-timing-function: ease-out;

  --font-title: 'Eczar', sans-serif;
  --font-special: 'Miltonian Tattoo', sans-serif;
  --font-normal: 'Eczar', sans-serif;
}

@layer base {
  :root[data-theme='light'] {
    --theme-background-gradient-start: var(--color-light);
    --theme-background-gradient-end: var(--color-neutral-200);
  }

  :root,
  :root[data-theme='dark'] {
    --theme-background-gradient-start: var(--color-dark);
    --theme-background-gradient-end: var(--color-neutral-700);
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@utility button-shadow-* {
  box-shadow:
    0 0 48px oklch(from --value(--color-*) l c h / 0.5),
    0 8px 24px oklch(from var(--color-dark) l c h / 0.3);
}

@utility text-glow-* {
  text-shadow:
    0 0 64px oklch(from --value(--color-*) l c h / 0.3),
    0 4px 24px oklch(from var(--color-dark) l c h / 0.7);
}

@utility scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-dark);
  }

  &::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: var(--color-secondary);
    border-radius: var(--radius-lg);
  }
}
