NEXT_PUBLIC_URL=http://localhost:3000

NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api
NEXT_PUBLIC_SSR_API_BASE_URL=http://php/api

NEXT_PUBLIC_MERCURE_URL=http://localhost:8888/.well-known/mercure
NEXT_PUBLIC_SSR_MERCURE_URL=http://mercure/.well-known/mercure

BETTER_AUTH_SECRET=change_me
BETTER_AUTH_URL=http://localhost:3000
